.nabcompany{
    background-color: black;
    color:white;
    /* border: 2px solid red; */
    padding: 29px 38px;
}

body{
    margin:0px;
}

.para{
    margin:53px 66px 28px 38px;
    /* border:1px solid blue; */
}
h1{
    margin: 0;
    font-weight: 400px;
}
.btn{
    background-color: black;
    border: none;
    padding:22px 48px;
    color:white;
    margin:93px 0px;
}
img{
    height:729px;
    width:911px;
}

ol{
    padding-left: 20px;
}
ul{
    padding-left: 20px;
}